# Copyright (C) 2020 Locha Inc

menu "Turpial - Radio Firmware Configuration"

config SLIP_LOCAL_ADDR
    string "SLIP link local address"
    default "fe80::dead:beef:cafe:babe"
    help
        Default SLIP link local address

rsource "sys/Kconfig"

endmenu
