menuconfig KCONFIG_MODULE_AODVV2
    bool "AODVv2 Routing Protocol"
    depends on MODULE_AODVV2

if KCONFIG_MODULE_AODVV2

rsource "Kconfig.timers"

config AODVV2_BUFFER_MAX_ENTRIES
    int "Packet buffer size"
    default 16
    help
        This is the maximum number of entries in the AODVv2 buffered packets
        set.

config AODVV2_MCMSG_MAX_ENTRIES
    int "Multicast Message Set size"
    default 16
    help
        This is the maximum number of entries in the Multicast Message Set.

config AODVV2_RCS_MAX_ENTRIES
    int "Router Client Set size"
    default 2
    help
        This is the maximum number of entries in the Router Client Set.

config AODVV2_LRS_MAX_ENTRIES
    int "Local Route Set size"
    default 16
    help
        This is the maximum number of entries in the Local Rute Set.

config METRIC_HOP_COUNT_AODVV2_MAX
    int "Configure maximum value for Hop Count metric"
    default 255

endif
