menu "AODVv2 Routing Protocol"

config AODVV2_MAX_SEQNUM_LIFETIME
    int "Configure maximum lifetime for sequence number in seconds"
    default 300
    depends on MODULE_AODVV2

config AODVV2_ACTIVE_INTERVAL
    int "Configure active interval value in seconds"
    default 5
    depends on MODULE_AODVV2

config AODVV2_MAX_IDLETIME
    int "Configure MAX_IDLETIME value in seconds"
    default 250
    depends on MODULE_AODVV2

config AODVV2_CLIENT_SET_ENTRIES
    int "Configure maximum number of entries on the Router Client Set"
    default 2
    depends on MODULE_AODVV2

config METRIC_HOP_COUNT_AODVV2_MAX
    int "Configure maximum value for Hop Count metric"
    default 255
    depends on MODULE_AODVV2

config AODVV2_RFC5444_STACK_SIZE
    int "Configure stack size for RFC 5444 thread"
    default 2048
    depends on MODULE_AODVV2

config AODVV2_RFC5444_PRIO
    int "Configure priority for RFC 5444 thread"
    default 6
    range 0 15
    depends on MODULE_AODVV2

config AODVV2_RFC5444_MSG_QUEUE_SIZE
    int "Configure message queue size for RFC 5444 thread"
    default 32
    depends on MODULE_AODVV2

config AODVV2_RFC5444_PACKET_SIZE
    int "Configure RFC 5444 maximum output packet size"
    default 128
    depends on MODULE_AODVV2

config AODVV2_RFC5444_ADDR_TLVS_SIZE
    int "Configure RFC5444 address TLVs buffer size"
    default 1000
    depends on MODULE_AODVV2

config AODVV2_MAX_ROUTING_ENTRIES
    int "Configure maximum number of routing entries"
    default 16
    depends on MODULE_AODVV2

endmenu
